@model OnlineShopMedicine.ViewModels.MedicineDetailsModel

@{
    ViewData["Title"] = "Details";
    Medicine medicine = Model.Medicine;
    List<MedicineType> medicineTypes = Model.MedicineTypes;
}

<h1>Mua thuốc</h1>

<div class="row">
    <div class="col-4" style="background-color:gray">
    </div>
    <div class="col-8">
        <form asp-action="" method="post">
            <h4>@medicine.Name</h4>
            <p>@medicine.Descript</p>
            @foreach (var item in medicineTypes)
            {
                <div>
                    <input class="" type="radio" name="Type" value="@item.Type.Id">@item.Type.Name
                    <label>@item.Price đ</label>
                </div>
            }
            <input class="btn btn-primary" type="number" value="Số lượng" />
            <input class="btn btn-primary" type="submit" value="Buy" />
            <input class="btn btn-outline-primary" type="button" value="Add to Cart" />
        </form>
    </div>
</div>

