@model OnlineShopMedicine.ViewModels.MedicineListModel

@{
    ViewData["Title"] = "Index";
    List<Medicine> medicines = Model.Medicines;
    List<Category> categories = Model.Categories;
}

<h1>Shop</h1>
<hr />
<div class="row">
    <div class="col-3">
        <form asp-action="Index" method="post">
            <h3>Category</h3>
            @foreach (var item in categories)
            {
                <label>
                    <input type="checkbox" name="CategoryIds" value="@item.Id"
                    @(Model.CategoryIds != null && Model.CategoryIds.Contains(item.Id) ? "checked" : "") />
                    @item.Name
                </label>
                <br />
            }
            <input class="btn btn-outline-secondary" type="submit"/>
        </form>
    </div>
    <div class="col-9">
        @foreach (var item in medicines)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Descript</p>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        }
    </div>
</div>
